@media (min-width: 768px) {

  .page-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

.page-header p {
  color: #252525;
}

.page-header h1 {
  background-image: url(http://djipco.github.io/webmidi/images/webmidijs-logo-small.png);
  background-repeat: no-repeat;
}


