# EditorConfig helps maintain consistent coding styles for multiple developers working on the same
# project across various editors and IDEs: https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 100
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0
