### System #########################################################################################
.DS_Store*
Icon?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
.directory
*~

### Editors ########################################################################################
.idea
.vscode/
*.sublime-project
*.sublime-workspace

### Dependency Directories #########################################################################
node_modules
bower_components

### Logs ###########################################################################################
*.log

### Grunt ##########################################################################################
.grunt

### Circle CI ######################################################################################
.circleci

### Test coverage ##################################################################################
.nyc_output

### Scratch spaces #################################################################################
playground
!/.vscode/
