### System #########################################################################################
.DS_Store*
Icon?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
.directory
*~

### Editors ########################################################################################
.idea

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.sublime-project
*.sublime-workspace

### Dependency Directories #########################################################################
node_modules

### Logs ###########################################################################################
*.log

### Circle CI ######################################################################################
.circleci

### Test coverage ##################################################################################
.nyc_output

### Scratch spaces #################################################################################
playground

### Sensitive stuff ################################################################################
/.credentials/
