@media (min-width: 768px) {

  .page-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /*.page-header .summary {*/
  /*  background-image: url(http://djipco.github.io/webmidi/images/webmidijs-logo.svg);*/
  /*  background-repeat: no-repeat;*/
  /*  padding-top: 70px;*/
  /*}*/

}

.page-header p {
  color: #252525;
}

.page-header .kind {
  opacity: .18;
}

ol.breadcrumb {
  display: none;
}

/*.page-header .summary {*/
/*  background-image: url(http://djipco.github.io/webmidi/images/webmidijs-logo.svg);*/
/*  background-repeat: no-repeat;*/
/*  height: 100px;*/
/*}*/

/*.page-header .summary p {*/
/*  padding-top: 70px;*/
/*}*/
